<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
  <!--baidu stats start-->  

    

  <!--baidu stats end--> 

  <link rel="stylesheet" href="https://www.biuh-dt.com/assets/css/this_style.css">
  
  </head>

  
  <body  class="hidden-until-ready">
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width="300" />
        {% endif %}

        <p> Learning by doing. The hand keeps truths the mind forgets. </p>
        
        </br>

        <p class="view"> ▾ <a href="https://www.biuh-dt.com/"> Home </a> </p>

        <p class="view"> &nbsp;&nbsp;&nbsp;&nbsp; ▸ <a href="https://courses.biuh-dt.com/"> Courses </a> </p>

        <p class="view"> &nbsp;&nbsp;&nbsp;&nbsp; ▾ <a href="/"> Labs </a> </p>

        <p class="view"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▸ <a href="/Server"> Server </a> </p>

        <p class="view"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▸ <a href="/BiT_Lab"> BiT Lab </a> </p>

       
        
        {% if site.show_downloads %}
        {% endif %}
      </header>
      <section>

        
      <div id="password-form">
           <h2>Password</h2>
           <input type="password" id="password" placeholder="Password">
            <button onclick="checkPassword()">submit</button>
          <p id="message" style="color:red;"></p>
      </div>
      <div id="protected-content">
        
          {{ content }}
        
      </div>

        

      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    
    <script src="https://www.biuh-dt.com/assets/this_main.js?v=123456789"></script>


    
    
  </body>
</html>
